<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HERP_DEVEntities" connectionString="metadata=res://*/ModeloGeneradorCD.csdl|res://*/ModeloGeneradorCD.ssdl|res://*/ModeloGeneradorCD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.9.38;initial catalog=HERP_DEV;persist security info=True;user id=holistor;password=H0listor.0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>